.categories {
  background-color: white;
  padding: 50px 0;
}
.categories .categories-con {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.categories a {
  text-decoration: none;
  width: 220px;
}
