.mini-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  /* border-bottom: 1px solid transparent; */
  transition: 0.3s;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}
.mini-category:hover {
  /* border-color: var(--green-color); */
  color: var(--green-color);
  transform: translateX(20px);
}
.mini-category h4 {
  margin: 0;
  transition: 0.3s;
}
.mini-category svg {
  transition: 0.3s;
  margin-right: 10px;
}
