.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login-form .login-con{
  min-height: 500px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 40px;
  max-height: 600px;
  margin-top: 20px;
  overflow: hidden;
}
.login-form form {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 400px;
  overflow-y: scroll;
}
.login-form img{
  height:70px;
}
.login-form h1{
  color: var(--green-color);
  margin-bottom: 50px;
}
.login-form form label{
  width: 100%;
  color: var(--green-color);
  font-size: 22px;
  font-weight: bold;
  margin-bottom:10px;
}
.login-form form input[type="text"],
.login-form form input[type="password"]{
  width: calc(100% - 40px);
  padding: 7px 20px;
  font-size: 20px;
  border-radius: 6px;
  border: 2px solid #eee;
  transition: 0.3s;
  outline: none;
  color:var(--text-color);
  margin-left:20px;
  margin-bottom:20px;
  box-sizing: border-box;
}
.login-form form input[type="text"]:hover,
.login-form form input[type="password"]:hover,
.login-form form input[type="text"]:focus,
.login-form form input[type="password"]:focus{
  border-color:var(--green-color);
}
.login-form form input[type="submit"]{
  padding: 15px 25px;
  width: 150px;
  border-radius: 10px;
  border: 3px solid var(--green-color);
  color: var(--green-color);
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.login-form form input[type="submit"]:hover{
  background-color:var(--green-color);
  color:white;
}
.login-form form p{
  color:var(--text-color);
}
.login-form form p a{
  color: var(--green-color);
  text-decoration: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  cursor: pointer;
  transition:0.3s;
}
.login-form form p a:hover{
  text-decoration:underline;
}
.error{
  background-color: var(--red-color);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  width: 80%;
  text-align: center;
}
.login-form form .error p{
  color:white;
}